/* shared_styles */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 21px 25px 20px 26px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
}
a {
  text-decoration: none;
}

/* nav_styles */

.nav-container {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}
.nav-contents {
  color: #fff;
  text-align: right;
  padding: 200px 230px;
}
.nav-title {
  font-size: 65px;
  font-weight: 700;
  margin-left: 900px;
}
.nav-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 1000px;
}

/* main_styles */
.section-container {
  display: flex;
  padding: 200px;
  align-items: center;
  gap: 80px;
}
.section-contents {
  /* align-items: center; */
}
.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin: 0 500px 20px 0;
}
.section-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 450px;
  margin-bottom: 20px;
}
.section-lists {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
}

.plans-container {
  align-items: center;
  width: 35%;
  margin: auto;
}
.plans-title {
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}
.plans-contents {
  display: flex;
}

.banner-container {
  background-image: url("../images/gradient1.png"), url("../images/watch.png");
  background-repeat: no-repeat;
  height: 300px;
  margin: 135px 370px;
}

.banner-contents {
  padding: 90px 65px;
}

.banner-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
